<!DOCTYPE HTML>
<html>

<head>
    <title>Registration for Ethereum Meetup</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="SHORTCUT ICON" href="images/meetup.png">
    <link rel="stylesheet" href="assets/css/loaders.min.css"/>
    <link rel="stylesheet" href="assets/css/pay.css">
    <link rel="stylesheet" href="assets/css/registration.min.css">
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css"/>
    </noscript>
    <script src="assets/js/skel.min.js"></script>
</head>
<style>
    #agenda p {
        font-weight: normal;
        text-transform: none;
        margin-bottom: 5px;
    }

    #guests p {
        font-weight: normal;
        text-transform: none;
        margin-bottom: 8px;
    }
</style>

<body>
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="logo">
            <!--<span class="icon fa-bell-o"></span>-->
            <!--<span style="font-size:25px;font-weight: bold">Ch⇛En</span>-->
        </div>
        <div class="content">
            <div class="inner">
                <h1 style="text-transform:none;letter-spacing:4px">Asia-Pacific Ethereum Community Meetup</h1>
                <!--<h3 style="margin-bottom:0">活动介绍:
                <a href="https://html5up.net">主办公司网址</a>
            </h3>-->
                <h3 style="text-transform:none">Time: Feb 25, 2018</h3>
                <h3 style="text-transform:none">Location: Bangkok, Thailand</h3>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#intro">About</a>
                </li>
                <li>
                    <a href="#agenda">Agenda</a>
                </li>
                <li>
                    <a href="#information">Info</a>
                </li>
                <li>
                    <a href="#registration">Pay</a>
                </li>
                <!--<li><a href="#elements">Elements</a></li>-->
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <div id="main">
        <!-- Intro -->
        <article id="intro">
            <h2 class="major">About</h2>
            <p style="text-align:justify;text-transform:none">
                The Asia-Pacific Ethereum Community Meetup is organized by <a href="http://www.linktimetech.com">LinkTime</a>,
                aims at promoting technology exchange and connecting Ethereum developers with community members, as well
                as creating opportunities for users to know more about the Ethereum-based projects.
            </p>
            <p style="text-align:justify;text-transform:none">
                The event covers the Ethereum-based technology training, excellent use case discussion, and the
                development discussion of various Asia-Pacific Ethereum communities, etc. The confirmed guests include
                the founder of Ethereum, Ethereum developers, various Ethereum community representatives (China, Korea,
                Singapore, America, Japan etc.), founders of excellent Ethereum-based projects, noted investors and
                enterprise representatives in this space.
            </p>
            <p style="text-align:justify;text-transform:none">
                With the joint efforts of Asia-Pacific Ethereum Communities, taking the meetup as one of the
                opportunity, we hope we can make this world a better place!
            </p>
        </article>
        <!-- Work -->
        <article id="agenda">
            <h2 class="major">Agenda</h2>
            <p style="font-size: 22px;font-weight: bold;">Coming Soon ... </p>
            <!--   <table border="1" style="font-size: 13px">
            <tr>
                <td></td>
                <td>Time</td>
                <td>Speaker</td>
                <td>Title</td>
                <td>Topic</td>
            </tr>

            <template v-for="content in contents">
                <tr>
                    <td v-if="content.amside == 1 || content.pmside == 1" :rowspan="content.timerow"
                        style="vertical-align:middle">{{ content.date }}
                    </td>

                    <td v-if="content.break == 1" :colspan="content.breakcol" style="text-align:center">{{
                        content.breaktext }}
                    </td>

                    <td v-if="content.empty == 1" :colspan="content.colspan" style="text-align:center"></td>

                    <td v-if="content.type == 'agenda' ">{{ content.time }}</td>
                    <td v-if="content.type == 'agenda' ">{{ content.speaker }}</td>
                    <td v-if="content.type == 'agenda' ">{{ content.title }}</td>
                    <td v-if="content.type == 'agenda' ">{{ content.topic }}</td>

                </tr>

            </template>
        </table> -->
        </article>
        <!-- About -->
        <article id="information">
            <h2 class="major">Info</h2>
            <p>Location: Bangkok, Thailand.
                <br>Time: February 25, 2018
                <!--     <br>Registration: 7:30-8:30, December 3, 2017. Please get to the venue earlier for registration. -->
            </p>
            <div class="image main">
                <!--  <div style="overflow:hidden;max-width:100%;width:560px;height:300px;">
                <div id="gmapcanvas" style="height:100%; width:100%;max-width:100%;">
                    <iframe style="height:100%;width:100%;border:0;" frameborder="0" class="lozad" allowfullscreen
                            data-src="https://www.google.com/maps/embed/v1/place?q=深圳市南山区侨香路4068号智慧广场A栋1单元19F&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>

                </div>
            </div> -->
            </div>
        </article>
        <!-- Contact -->
        <article id="registration">
            <!-- <h2 class="major">Pay</h2> -->
            <h2 class="major">Register</h2>
            <!-- <p style="text-align: center;font-size:36px;">
                Registration channel has been closed.
            </p> -->
            <p style="text-transform:none">
                Please enter the correct information, we will use it as the only contact and registration proof for the
                activity. Please do not register repeatedly, thank you for your cooperation. You may receive our calls
                if necessary. If there is any problem when registering, please contact: <a
                    href="mailto:meetup@linktimetech.com">meetup@linktimetech.com</a>
            </p>
            <form id="checkout-form" name="checkoutForm">
                <div class="field half first">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" id="name" required/>
                </div>
                <div class="field half ">
                    <label for="country">Country</label>
                    <input type="text" name="country" id="country" required/>
                </div>
                <div class="field half first">
                    <label for="company">Company</label>
                    <input type="text" name="company" id="company" required/>
                </div>
                <div class="field half">
                    <label for="position">Position</label>
                    <input type="text" name="position" id="position" required/>
                </div>
                <div class="field half first">
                    <label for="telephone">Phone</label>
                    <input type="text" name="telephone" id="telephone" required/>
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" required/>
                </div>
                <div class="field">
                    <label for="note">Notes(option)</label>
                    <textarea name="note" id="note" rows="4" maxlength="500"></textarea>
                </div>
                <ul class="actions">
                    <li>
                        <input type="button" value="send" class="special gopay"/>
                    </li>
                    <li>
                        <input type="reset" value="reset"/>
                    </li>
                </ul>
            </form>
            <!--<ul class="icons">
            <li>
                <a href="https://www.twitter.com/linktimetech" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a>
            </li>
            <li>
                <a target="_blank" href="" target="_blank" class="icon fa-envelope"><span class="label">email</span></a>
            </li>
            <li>
                <a href="#" target="_blank" class="icon fa-wechat"><span class="label">wechat</span></a>
            </li>
        </ul>-->
        </article>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <h4 style="text-transform:none">&copy; <a href="http://www.linktimetech.com" target="_blank">LinkTime</a> | 点击切换<a
                href="index.html" style="color:#337ab7;">中文版</a>.</h4>
        <h4 style="text-transform:none">Telegram: <a style="color:#337ab7;" href="https://t.me/AsiaETHfans">https://t.me/AsiaETHfans</a>
        </h4>
    </footer>
    <div class="loading-mask">
    </div>
    <div class="loader loading">
        <div class="pacman">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel" style="font-size: 1.8rem;">Pay</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:center;">
                    <img src="images/qr.jpg" style="width:300px;height:400px">
                </div>
                <p>
                    <br/>The price is ￥200 / per person, <b style="color:#337ab7;">Please attach your name when
                    purchase.</b>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary payok" data-dismiss="modal">Paid</button>
            </div>
        </div>
    </div>
</div>
<!-- BG -->
<div id="bg"></div>
<!-- baidu Map api -->
<!-- <script type="text/javascript"
    src="http://api.map.baidu.com/api?v=2.0&ak=DD279b2a90afdf0ae7a3796787a0742e"></script> -->
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="assets/js/util.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="assets/js/content.js"></script>
<script src="assets/js/main.js"></script>
<!-- <script type="text/javascript">
var map = new BMap.Map("baiduMap");
var point = new BMap.Point(113.98876, 22.556458);
map.centerAndZoom(point, 20);
var marker = new BMap.Marker(point); // 创建标注
map.addOverlay(marker); // 将标注添加到地图中
marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
map.enableScrollWheelZoom(true);
</script> -->
</body>

</html>