
.__loading__image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    margin-top: -20px;
    margin-left: -20px;
}

.__loading__image > img {
    width: 40px;
    height: 40px;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1)
    }
    20% {
        -webkit-transform: scale(.99) rotate(-.4deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.01) rotate(.4deg)
    }
    60% {
        -webkit-transform: scale(1.01) rotate(-.4deg)
    }
    to {
        -webkit-transform: scale(1) rotate(0)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    20% {
        -webkit-transform: scale(.99) rotate(-.4deg);
        transform: scale(.99) rotate(-.4deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.01) rotate(.4deg);
        transform: scale(1.01) rotate(.4deg)
    }
    60% {
        -webkit-transform: scale(1.01) rotate(-.4deg);
        transform: scale(1.01) rotate(-.4deg)
    }
    to {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

*,
* :after,
* :before,
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    font-size: 16px
}

body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.OmiseCheckoutForm {
    width: 380px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto
}

.OmiseCheckoutForm .relative,
.OmiseCheckoutForm_body {
    position: relative
}

.OmiseCheckoutForm_body.shake {
    -webkit-animation: tada .4s;
    animation: tada .4s
}

.OmiseCheckoutForm_container {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-bottom: 50px;
    background-color: #fff;
    border: 1px solid #dadfe6;
    border-radius: 8px;
    opacity: 0;
    -webkit-box-shadow: 0 0 30px rgba(4, 41, 68, .3);
    box-shadow: 0 0 30px rgba(4, 41, 68, .3);
    -webkit-transform: translateY(10%) scale(.9);
    transform: translateY(10%) scale(.9);
    -webkit-transition: opacity .2s, -webkit-transform .4s cubic-bezier(.175, .885, .32, 1.275);
    transition: opacity .2s, -webkit-transform .4s cubic-bezier(.175, .885, .32, 1.275);
    transition: opacity .2s, transform .4s cubic-bezier(.175, .885, .32, 1.275);
    transition: opacity .2s, transform .4s cubic-bezier(.175, .885, .32, 1.275), -webkit-transform .4s cubic-bezier(.175, .885, .32, 1.275)
}

.OmiseCheckoutForm_container.open {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1)
}

.OmiseCheckoutForm_header {
    position: relative;
    height: 40px;
    padding-left: 57px;
    margin-bottom: 28px
}

.OmiseCheckoutForm_header > .image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: auto
}

.OmiseCheckoutForm_header > .title {
    margin: 0;
    font-size: 18px;
    color: #454c59;
    line-height: 1em;
    text-align: left;
    display: block;

}

.OmiseCheckoutForm_header > .desc {
    position: absolute;
    left: 57px;
    bottom: 0;
    margin: 0;
    color: #a1a7b3;
    font-size: 14px;
    line-height: 1em
}

.OmiseCheckoutForm_header.isNoImage {
    padding-left: 0
}

.OmiseCheckoutForm_header.isNoImage > .desc {
    left: 0
}

.OmiseCheckoutForm_formItem {
    margin-bottom: 28px;
}

.OmiseCheckoutForm_formItem:last-child {
    margin-bottom: 0
}

.OmiseCheckoutForm_formItem.-submit {
    margin-top: 40px
}

.OmiseCheckoutForm_formItem label {
    display: block;
    margin-bottom: 6px !important;
    color: #a1a7b3;
    font-size: 14px;
    text-align: left;
    font-weight: 0;
    letter-spacing: 0;
    line-height: normal;
    text-transform: none;
}

.OmiseCheckoutForm_formItem input[type^=te], .securityCo {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 12px;
    border: 1px solid #dadfe6;
    background-color: #fff;
    color: #454c59;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1em;
    border-radius: 4px;
    outline: none;
    -webkit-appearance: none;
    -webkit-transition: background-color .2s, border .2s;
    transition: background-color .2s, border .2s
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccd1db !important;
}

.OmiseCheckoutForm_formItem input[type^=te]::-webkit-input-placeholder {
    color: #ccd1db
}

.OmiseCheckoutForm_formItem input[type^=te]:-moz-placeholder,
.OmiseCheckoutForm_formItem input[type^=te]::-moz-placeholder {
    color: #ccd1db
}

.OmiseCheckoutForm_formItem input[type^=te]:-ms-input-placeholder {
    color: #ccd1db
}

.OmiseCheckoutForm_formItem input[type^=te].card-is-valid {
    color: green
}

.OmiseCheckoutForm_formItem input[type^=te].is-error {
    border-color: #ff4a46;
    color: #f84b3d !important
}

.OmiseCheckoutForm_formItem input[type^=te].is-error::-webkit-input-placeholder {
    color: #fa796e !important
}

.OmiseCheckoutForm_formItem input[type^=te].is-error:-moz-placeholder,
.OmiseCheckoutForm_formItem input[type^=te].is-error::-moz-placeholder {
    color: #fa796e !important
}

.OmiseCheckoutForm_formItem input[type^=te].is-error:-ms-input-placeholder {
    color: #fa796e !important
}

.OmiseCheckoutForm_formItem input[type^=te]:hover {
    border-color: #a1a7b3
}

.OmiseCheckoutForm_formItem input[type^=te]:focus {
    border-color: #1a56f0
}

.OmiseCheckoutForm_formItem input[type^=te]::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0
}

.OmiseCheckoutForm_formItem input[type^=te]:invalid,
.OmiseCheckoutForm_formItem input[type^=te]:required {
    -webkit-box-shadow: none;
    box-shadow: none
}

.OmiseCheckoutForm_formItem input[name=securityCode] {
    padding-right: 40px;
    border: 1px solid #dadfe6;
}

.OmiseCheckoutForm_formItem input[name=securityCode]:focus {
    padding-right: 40px;
    border: 1px solid #1a56f0;
}

.OmiseCheckoutForm_formItemCol {
    margin-left: -30px;
    margin-bottom: 28px
}

.OmiseCheckoutForm_formItemCol:after {
    clear: both;
    content: "";
    display: table
}

.OmiseCheckoutForm_formItemCol > .OmiseCheckoutForm_formItem {
    float: left;
    width: 100% !important;
    margin-bottom: 0;
    padding-left: 30px
}

.OmiseCheckoutForm_locationFields {
    display: none
}

.OmiseCheckoutForm_locationFields.active {
    display: block
}

.OmiseCheckoutForm_cardTypeImage {
    position: absolute;
    top: 50%;
    right: 10px;
    min-width: 40px;
    height: 22px;
    overflow: hidden;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.OmiseCheckoutForm_cardTypeImage > img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: .2s;
    transition: .2s
}

.OmiseCheckoutForm_cardTypeImage > img.active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.OmiseCheckoutForm_expiryDateBasicStyle {
    display: table;
    width: 100%
}

.OmiseCheckoutForm_expiryDateBasicStyle > .col {
    display: table-cell
}

.OmiseCheckoutForm_expiryDateBasicStyle select {
    width: 100%;
    height: 43px;
    border: 1px solid #dadfe6;
    background-color: #fff;
    color: #454c59;
    font-size: 16px;
    outline: none
}

.OmiseCheckoutForm_expiryDateBasicStyle .slash {
    position: relative;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center
}

.OmiseCheckoutForm_expiryDateBasicStyle.is-error {
    color: #f84b3d
}

.OmiseCheckoutForm_expiryDateBasicStyle.is-error select {
    border-color: #f84b3d;
    color: #f84b3d
}

.OmiseCheckoutForm_expiryDateBasicStyle input[type=text] {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px
}

/* sc-component-id: sc-bdVaJa */

.eOqLft {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* sc-component-id: sc-bwzfXH */

.ujYcd {
    width: 40px;
    height: 40px;
}

/* sc-component-id: sc-htpNat */

.FaWeu {
    display: block;
    width: 100%;
    padding: 0 10px;
    height: 44px;
    border: 0;
    background-color: #1A56F0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.FaWeu:active,
.FaWeu:hover {
    background-color: #0d42ca;
}

.FaWeu:disabled {
    background-color: #999;
}

/* sc-component-id: sc-bxivhb */

.kGUhKf {
    position: relative;
}

.kGUhKf img {
    width: 24px;
    height: 24px;
    margin-top: 4px;
}

/* sc-component-id: sc-ifAKCX */

.fAtCFL {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
    width: 20px;
    height: 20px;
    background-color: #CCC;
    color: white;
    line-height: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.fAtCFL > img {
    width: 20px;
    height: 20px;
}

/* sc-component-id: sc-gzVnrw */

.MkctH {
    margin-top: 20px;
    color: #A1AAB3;
    font-size: 12px;
    text-align: center;
}

/* sc-component-id: sc-htoDjs */

.jBwzoP {
    position: relative;
    top: 4px;
    width: 54px;
    height: 16px;
    margin-left: 2px;
}

/* sc-component-id: sc-dnqmqq */

.LruVg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
}

/* sc-component-id: sc-iwsKbI */

.ighOYm {
    position: absolute;
    top: 72%;
    left: 30%;
    width: 16px;
    height: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.ighOYm > img {
    width: 100%;
}

/* sc-component-id: sc-gZMcBi */

.cAMPWJ {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 100%;
    z-index: 10;
    width: 190px;
    padding: 15px;
    margin-left: 12px;
    margin-bottom: -37px;
    border: 1px solid #DADFE6;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(68, 75, 81, 0.25);
    box-shadow: 0 2px 4px rgba(68, 75, 81, 0.25);
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
}

.cAMPWJ:before,
.cAMPWJ:after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
}

.cAMPWJ:before {
    z-index: 100;
    margin-top: 71px;
    border-color: transparent;
    width: 0;
    height: 0;
    border-width: 6px 12px 6px 0;
    border-style: solid;
    border-right-color: #DAE1E6 !important;
}

.cAMPWJ:after {
    z-index: 101;
    margin-top: 72px;
    border-color: transparent;
    width: 0;
    height: 0;
    border-width: 5px 10px 5px 0;
    border-style: solid;
    border-right-color: white !important;
}

/* sc-component-id: sc-gqjmRU */

.dwxBLy {
    color: #A1A7B3;
    font-size: 0.875rem;
    width: 150px;
    padding: 10px 10px 0 10px;
    background-color: #fff;
}

/* sc-component-id: sc-VigVT */

.qacib {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;

}

.qacib > img {
    width: 95px;
    max-width: 100%;
}

.exdate {
    display: inline !important;
    width: 49% !important;
}

/* popover */
.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

    line-break: auto;
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover > .arrow {
    border-width: 11px;
}

.popover > .arrow:after {
    content: "";
    border-width: 10px;
}

.popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0;
}

.popover.top > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0;
}

.popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0;
}

.popover.right > .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
}

.popover.bottom > .arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}

.popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25);
}

.popover.left > .arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
}

.modal-body {
    background-color: #fff;
    border-radius: 15px;
    width: 330px;
    top: -10px;
}

.loading-mask {
    /*background-color: #0b151c8f !important;*/
    background-color: #000 !important;
}

